<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static' , filename='styles_reg.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что? Где? Тула!</title>
</head>
<body>
    
    <div class="reg_zone">
        <div class="sign_up">
            <h3 class="reg_h">
                Регистрация
            </h3>
            
            <center>
                <form method="get">
                    <input type="text" id="nick" name="nick"  placeholder="Петров Петр">
                    <br>
                    <input type="email" id="mail" name="email"  placeholder="example@tula.ru">
                    <br>
                    <input type="password" id="password" name="passwd">
                    <br>
                    <input type="submit" value="Вперед">
                </form>
            </center>
        </div>
    </div>
</body>
</html>