<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static',filename= "styles_text.css")}}>
    <title>Что? Где? Тула!</title>
</head>
<body>
    <div class="text_mer">
        <h2 class="mer_naz">Название</з>
        <p class="mer_text">Чтото обо мне</p>
        <p class="mer_date">30.02.22</p>
        <p class="mer_adress">Ул. Программиста, д. 1110</p>
    </div>

</body>
</html>